#input01,#input02 {
width: 50px;
}

#btn01{
background-color: #E8A130;
}

#btn02{
background-color: #56AEBA;
}

#btn03{
background-color: pink;
}

#btn04{
background-color: #1FE74E;
}
